:root{

    --vert:#326132;
    
    --vert-clair:#4CAF50;

    --ocre:#C89B3C;

    --ocre-clair:#FFD700;

    --rouge:#8C2F2F;

    --fond:#FAFAFA;

    --texte:#0F0F0F;

    --carte:#F2F2F2;

    --gris:#6B6B6B;

    --gris-clair:#E5E5E5;

    --bordure:#D9D9D9;

    --rayon:16px;

}